// $gray : #d3d3d3;
// $darkgrey : #333;
//
// .box {
//   background: $gray;
//   border: 3px solid black;
//   padding: 40px 80px;
//   .button {
//     font-weight: bold;
//     text-align: center;
//     background: $darkgrey;
//     color: white;
//   }
// }


.house-box img {
  width: 200px;
}


.titles {
  font-size: .9em;
  color: #777;
}

.bigimage {
  width: 350px;
}
